#heading {
    color:blue;
    font-size: 24px;
    text-align: center;
    background-color: yellow;
}
.para {
    color: purple;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}
#subheading {
    color: rgb(68, 15, 241);
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
body {
    background-color: pink;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
button{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    align-items: center;;
}
p{
    font-size: 18px;
    color: black;
    margin-top: 20px;
}