h1 {
    color:blue;
    font-size: 24px;
    text-align: center;
    background-color: yellow;
}
body {
    background-color: pink;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
button{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
p{
    font-size: 18px;
    color: black;
    margin-top: 20px;
}